<!DOCTYPE html>
<html lang="en" xml:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--左侧导航-->
<aside th:fragment="left_nav" class="lyear-layout-sidebar">
    <!-- logo -->
    <div id="logo" class="sidebar-header">
        <a href="main.html" th:href="@{/common/main}"><img src="images/logo-sidebar.png"
                                                           th:src="@{/main/images/logo-sidebar.png}"
                                                           title="LightYear" alt="LightYear"/></a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item active"><a href="main.html" th:href="@{/common/main}"><i
                        class="mdi mdi-home"></i> 首页</a>
                </li>
                <li class="nav-item active" sec:authorize="hasAnyAuthority('admin')"><a href="main.html"
                                                                                        th:href="@{/admin/userManager/1}"><i
                        class="mdi mdi-account"></i> 用户管理</a>
                </li>

                <li class="nav-item nav-item-has-subnav" sec:authorize="hasAnyAuthority('admin')">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>比赛管理</a>
                    <ul class="nav nav-subnav">
                        <li><a href="#" th:href="@{/admin/arrangeMatch}">比赛对战匹配</a></li>
                        <li><a href="#">比赛信息管理</a></li>
                        <li><a href="#" th:href="@{/admin/rankings}">评分统计</a></li>
                    </ul>
                </li>

                <li class="nav-item nav-item-has-subnav" sec:authorize="hasAnyAuthority('singer')">
                    <a href="javascript:void(0)"><i class="mdi mdi-palette"></i>比赛详情</a>
                    <ul class="nav nav-subnav">
                        <li><a href="#">比赛信息</a></li>
                        <li><a href="#">比赛分数</a></li>
                        <li><a href="" th:href="@{/admin/rankings}">比赛排行榜</a></li>
                    </ul>
                </li>
                <li class="nav-item active" sec:authorize="hasAnyAuthority('admin','audience','judges','singer')"><a
                        href="main.html"
                        th:href="@{/vote/votePage/1}"><i
                        class="mdi mdi-voicemail"></i> 实时投票显示</a>
                </li>
                <li class="nav-item active"><a href="main.html"
                                               th:href="@{/admin/rankings}"><i
                        class="mdi mdi-fan mdi-spin"></i> 比赛排行榜</a>
                </li>
<!--                <li class="nav-item nav-item-has-subnav">-->
<!--                    <a href="javascript:void(0)"><i class="mdi mdi-format-align-justify"></i> 表单</a>-->
<!--                    <ul class="nav nav-subnav">-->
<!--                        <li><a href="lyear_forms_elements.html">基本元素</a></li>-->
<!--                        <li><a href="lyear_forms_radio.html">单选框</a></li>-->
<!--                        <li><a href="lyear_forms_checkbox.html">复选框</a></li>-->
<!--                        <li><a href="lyear_forms_switch.html">开关</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item nav-item-has-subnav">-->
<!--                    <a href="javascript:void(0)"><i class="mdi mdi-language-javascript"></i> JS 插件</a>-->
<!--                    <ul class="nav nav-subnav">-->
<!--                        <li><a href="lyear_js_datepicker.html">日期选取器</a></li>-->
<!--                        <li><a href="lyear_js_sliders.html">滑块</a></li>-->
<!--                        <li><a href="lyear_js_colorpicker.html">选色器</a></li>-->
<!--                        <li><a href="lyear_js_chartjs.html">Chart.js</a></li>-->
<!--                        <li><a href="lyear_js_jconfirm.html">对话框</a></li>-->
<!--                        <li><a href="lyear_js_tags_input.html">标签插件</a></li>-->
<!--                        <li><a href="lyear_js_notify.html">通知消息</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
            </ul>
        </nav>
    </div>
</aside>
<!--End 左侧导航-->

<!--头部信息-->
<ul class="topbar-right" th:fragment="top_nav">
    <li class="dropdown dropdown-profile">
        <a href="javascript:void(0)" data-toggle="dropdown">
            <img class="img-avatar img-avatar-48 m-r-10" src="images/users/avatar.jpg"
                 th:src="@{'/headImg/'+${(session.user.userImg!=null&&!#strings.isEmpty(session.user.userImg))?session.user.userImg:'defaultImg.jpeg'}}"/>
            <span th:text="${session.user.userRealName}">笔下光年 <span
                    class="caret"></span></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="lyear_pages_profile.html" th:href="@{/common/personInfo}"><i
                    class="mdi mdi-account"></i> 个人信息</a>
            </li>
            <li><a href="lyear_pages_edit_pwd.html" th:href="@{/common/editPassword}"><i
                    class="mdi mdi-lock-outline"></i>
                修改密码</a></li>
            <li><a href="javascript:void(0)"><i class="mdi mdi-delete"></i> 清空缓存</a></li>
            <li class="divider"></li>
            <li><a href="lyear_pages_login.html" th:href="@{/common/logout}"><i
                    class="mdi mdi-logout-variant"></i>
                退出登录</a></li>
        </ul>
    </li>
    <!--切换主题配色-->
    <li class="dropdown dropdown-skin">
									<span data-toggle="dropdown" class="icon-palette"><i
                                            class="mdi mdi-palette"></i></span>
        <ul class="dropdown-menu dropdown-menu-right" data-stopPropagation="true">
            <li class="drop-title">
                <p>主题</p>
            </li>
            <li class="drop-skin-li clearfix">
											<span class="inverse">
												<input type="radio" name="site_theme" value="default" id="site_theme_1"
                                                       checked>
												<label for="site_theme_1"></label>
											</span>
                <span>
												<input type="radio" name="site_theme" value="dark" id="site_theme_2">
												<label for="site_theme_2"></label>
											</span>
                <span>
												<input type="radio" name="site_theme" value="translucent"
                                                       id="site_theme_3">
												<label for="site_theme_3"></label>
											</span>
            </li>
            <li class="drop-title">
                <p>LOGO</p>
            </li>
            <li class="drop-skin-li clearfix">
											<span class="inverse">
												<input type="radio" name="logo_bg" value="default" id="logo_bg_1"
                                                       checked>
												<label for="logo_bg_1"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_2" id="logo_bg_2">
												<label for="logo_bg_2"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_3" id="logo_bg_3">
												<label for="logo_bg_3"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_4" id="logo_bg_4">
												<label for="logo_bg_4"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_5" id="logo_bg_5">
												<label for="logo_bg_5"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_6" id="logo_bg_6">
												<label for="logo_bg_6"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_7" id="logo_bg_7">
												<label for="logo_bg_7"></label>
											</span>
                <span>
												<input type="radio" name="logo_bg" value="color_8" id="logo_bg_8">
												<label for="logo_bg_8"></label>
											</span>
            </li>
            <li class="drop-title">
                <p>头部</p>
            </li>
            <li class="drop-skin-li clearfix">
											<span class="inverse">
												<input type="radio" name="header_bg" value="default" id="header_bg_1"
                                                       checked>
												<label for="header_bg_1"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_2" id="header_bg_2">
												<label for="header_bg_2"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_3" id="header_bg_3">
												<label for="header_bg_3"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_4" id="header_bg_4">
												<label for="header_bg_4"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_5" id="header_bg_5">
												<label for="header_bg_5"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_6" id="header_bg_6">
												<label for="header_bg_6"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_7" id="header_bg_7">
												<label for="header_bg_7"></label>
											</span>
                <span>
												<input type="radio" name="header_bg" value="color_8" id="header_bg_8">
												<label for="header_bg_8"></label>
											</span>
            </li>
            <li class="drop-title">
                <p>侧边栏</p>
            </li>
            <li class="drop-skin-li clearfix">
											<span class="inverse">
												<input type="radio" name="sidebar_bg" value="default" id="sidebar_bg_1"
                                                       checked>
												<label for="sidebar_bg_1"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_2" id="sidebar_bg_2">
												<label for="sidebar_bg_2"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_3" id="sidebar_bg_3">
												<label for="sidebar_bg_3"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_4" id="sidebar_bg_4">
												<label for="sidebar_bg_4"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_5" id="sidebar_bg_5">
												<label for="sidebar_bg_5"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_6" id="sidebar_bg_6">
												<label for="sidebar_bg_6"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_7" id="sidebar_bg_7">
												<label for="sidebar_bg_7"></label>
											</span>
                <span>
												<input type="radio" name="sidebar_bg" value="color_8" id="sidebar_bg_8">
												<label for="sidebar_bg_8"></label>
											</span>
            </li>
        </ul>
    </li>
    <!--切换主题配色-->
</ul>
<!--End 头部信息-->
</body>
</html>