<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.votesystem.mapper.VoteAudiMapper">

    <resultMap id="BaseResultMap" type="com.votesystem.domain.VoteAudi">
            <id property="voteAudId" column="vote_aud_id" jdbcType="INTEGER"/>
            <result property="playerId" column="player_id" jdbcType="INTEGER"/>
            <result property="audiId" column="audi_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        vote_aud_id,player_id,audi_id
    </sql>
</mapper>
